################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ModernPatternEditor.NET/bin
/ModernPatternEditor.NET/obj
/ModernPatternEditor.NET/ModernPatternEditor.NET.csproj.user
