[submodule "3rdParty/r8b/r8brain-free-src"]
	path = 3rdParty/r8b/r8brain-free-src
	url = https://github.com/avaneev/r8brain-free-src
[submodule "3rdParty/serilog/serilog"]
	path = 3rdParty/serilog/serilog
	url = https://github.com/serilog/serilog
[submodule "3rdParty/serilog/serilog-sinks-richtextbox"]
	path = 3rdParty/serilog/serilog-sinks-richtextbox
	url = https://github.com/serilog-contrib/serilog-sinks-richtextbox
[submodule "3rdParty/Gear/matilde"]
	path = 3rdParty/Gear/matilde
	url = https://github.com/clvn/matilde/
[submodule "ReBuzzPatternXP/--force"]
	path = ReBuzzPatternXP/--force
	url = https://github.com/wasteddesign/PatternXPRE
[submodule "ReBuzzPatternXP/PatternXPRE"]
	path = ReBuzzPatternXP/PatternXPRE
	url = https://github.com/wasteddesign/PatternXPRE
