<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        
		
    </startup>
	<startup useLegacyV2RuntimeActivationPolicy="true" />
	<runtime>
		<loadFromRemoteSources enabled="true"/>
	</runtime>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Gear;Gear\Effects;Gear\Generators;.\" />
		</assemblyBinding>
	</runtime>
</configuration>